#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.column-flex {
  display: flex;
  flex-direction: column;

  .image-container {
    overflow: hidden;
    height: 20rem;
    img {
      width: 100%;
      transform: scale(1.2);
      transform-origin: 50% 10%;
    }
  }
}

.row-flex {
  display: flex;
  flex-direction: row;

  .image-container {
    overflow: hidden;
    height: 10rem;
    img {
      height: 100%;
      width: 100%;
      transform: scale(1);
      transform-origin: 50% -30%;
    }
  }
}

#feed {
  article {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 0.3em;

    .details {
      padding: 0.75em 1em;
      .posted-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        time {
          text-align: right;
          // margin-left: 1rem;
        }
      }
      h2, p, a {
        text-align: left;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }
}